.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: transparent;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
}

.header p {
    font-size: var(--font-size-text);
    color: var(--secondary-color);
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header li {
    font-size: var(--font-size-text);
    color: var(--primary-color);
}

.bold-blue {
    color: var(--secondary-color);
    font-weight: bold;
}

.header-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 240px;
    padding: 0;
}

.list-info {
    gap: 50px;
}

.list-info> :first-child {
    color: var(--secondary-color);
}

.list-contacts {
    gap: 30px;
}

.header-menu {
    display: none;
}

@media screen and (max-width:1240px) {
    .header-info {
        gap: 100px;
    }

    .list-info {
        gap: 30px;
    }

    .list-contacts {
        gap: 20px;
    }
    
}

@media screen and (max-width:768px) {
    .header {
        backdrop-filter: none;
        -webkit-backdrop-filter: blur(0px);
        background: none;
    }

    .header li {
        display: none;
    }

    .header-info {
        gap: 0;
    }

    .header-menu {
        display: block;
    }
}