.intro {
    max-width: 1440px;
    width: 100%;
    height: 600px;
    background-image: url("../images/intro/background.webp");
    background-size: cover;
    background-position:top;
    margin: 0 auto;
    padding-top: 120px;
    position: relative;
}

.intro-info {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    gap: 10px;
}

.intro-text {
    color: var(--primary-color);
    font-size: var(--font-size-text);
}

.intro-head {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: var(--font-big-size-head);
    line-height: 0.9;
    padding: 15px 0 30px;
    width: min-content;
}

.intro button {
    background-color: var(--secondary-color);
    color: var(--bg-color);
    border: none;
    border-radius: 32px;
    width: 220px;
    height: 50px;
}

.intro button:hover {
    transform: scale(1.1);
}

.intro-label-for-button {
    color: var(--color-text-muted);
    font-size: var(--font-size-small-text);
    width: fit-content;
    text-align: center;
    padding: 0 20px;
}

.wave-container {
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    overflow: hidden; 
    line-height: 0; 
}

.wave-container svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px); 
    height: 100px;
}

@media screen and (max-width:768px) {
    .intro {
        background-image: url("../images/intro/backgroundFor768px.webp");
        background-position: right top;
        height: 370px;
        padding-top: 100px;
    }
    .intro-info {
        align-items: center;
        padding: 10px;
    }
    .intro-head {
        padding: 0 0 10px;
        width: auto;
    }
    .intro-label-for-button {
        padding: 0;
    }
}

@media screen and (max-width:450px) {
    .wave-container svg {
        height: 0;
    }
}