.services {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-bottom: 150px;
    padding-top: 0;
    background-image: url("../images/services/background.svg");
    background-size: cover;
    background-position: top;
    position: relative;
}

.services::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Высота размытия */
    background: linear-gradient(to bottom, transparent, #ffffff);
    pointer-events: none; /* Чтобы сквозь градиент можно было кликать, если там что-то есть */
}

.services-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 160px;
    gap: 45px;
}

.services-container h2 {
    color: var(--primary-color);
    font-size: var(--font-size-head);
    text-align: center;
}

.container-blocks {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.block-element {
    width: 30%;
    background-color: var(--bg-color);
    border-radius: 32px;
    padding: 24px 32px;
    box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.block-element p {
    color: var(--color-text-black);
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}

@media screen and (max-width:1024px) {
    .services-container {
        width: 95%;
    }
}

@media screen and (max-width:768px) {
    .services {
        background-image: url("../images/services/backgroundFor768px.svg");
        background-size: cover;
        background-position: top;
    }

    .services-container {
        gap: 24px;
    }

    .container-blocks {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .block-element {
        width: 100%;
    }
}

@media screen and (max-width:576px) {
    .services-container {
        padding-top: 120px;
    }
}