:root {
    --primary-color: #011C44;
    --secondary-color: #2B7FFF;
    --bg-color: #FFFFFF;
    --color-text-muted: #747272;
    --color-text-black: #000000;
    --font-big-size-head: clamp(30px, 10vw, 140px);
    --font-size-head: clamp(32px, 8vw, 64px);
    --font-size-text: clamp(18px, 2vw, 22px);
    --font-size-small-text: 13px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

button{
    cursor: pointer;
}

h1,
h2 {
    margin: 0;
    font-family: "Play", sans-serif;
    font-weight: 600;
    font-style: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    width: fit-content;
    margin: 0;
    padding: 0;
}

p,
li,
button,
span, figure, figcaption {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style:normal;
    font-variation-settings:
        "wdth" 100;
}

h2 > span {
    font-family: "Play", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.arrow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    padding: 0;
}

.arrow-button:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.arrow-button:hover .arrow-right,
.arrow-button:hover .icons-header {
    fill: var(--bg-color);
}

.arrow-right {
    fill: var(--primary-color);
    transform: rotate(180deg);
}